SQLAlchemy
apache-airflow
cartopy
h5py
Jinja2
lxml
matplotlib
mlflow
numpy
obspy
pandas
pymysql
requests
scikit-learn
scipy
seaborn
sqlalchemy-utils
tables
tensorboard
torch
torchaudio
torchsummary
torchvision 
tqdm
